body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.colorbox{
    width: 5vw;
    height: 5vw;
    display: inline-block;
    padding: 10px;

    cursor: pointer;
    overflow: hidden;
}

div.colorbox span{
    background-color: #fff;
    color: #000;
}

div.slidecontainer{
    width: 50vw;
}

div.slidecontainer div label {
    width: 5vw;
    display: inline-block;
}

div.slidecontainer input{
    width: 85%;
}